{% extends 'blog/base.html' %}
{% block content %}
    <div class="date">
        {% if post.published_date %}
            {{ post.published_date }}
        {% else %}
            {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'blog:post_publish' pk=post.pk %}">publish</a>
            {% endif %}
        {% endif %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-default" href="{% url 'blog:post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>{{ post.title }}</h1>
            <blockquote>
            <p>{{ post.text|linebreaks }}</p>
                </blockquote>
        </div>
    </div>
{% endblock %}